* {
  margin: 0;
  padding: 0;
}

.heading {
  text-align: center;
  margin-top: 90px;
  font-weight: 900;
  font-size: 30px;
  font-size: bolder;
}

.para {
  /* text-align: center; */
  margin: 20px 40px;
  font-size: 30px;
  /* border: 2px solid red; */
  color: hsla(0, 4%, 9%, 0.901);
  font-weight: 700;
  font-size: bolder;
}

.input_container {
  /* border: 1px solid blue; */
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.input_container > input {
  width: 700px;
  height: 80px;
  border-radius: 40px 50px;
  padding-left: 20px;
  margin-top: 20px;
  font-size: 18px;
  color: rgb(108, 103, 104);
}

.btn_container {
  /* border: 1px solid red; */
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.btn {
  padding: 10px 30px;
  color: black;
  border: none;
  border-radius: 10px 12px;
  border: 0.5px solid black;
}

.heading2 {
  text-align: center;
  margin-top: 70px;
}

.flex_container {
  display: flex;
  gap: 20px;
  margin-top: 60px;
  /* border: 2px solid red; */
  width: 100%;
}

.flex_container > .heading2 {
  text-align: center;
}
