* {
  margin: 0;
  padding: 0;
}

.heading {
  text-align: center;
  margin-top: 90px;
  font-weight: 900;
  font-size: 30px;
  font-size: bolder;
}

.para {
  /* text-align: center; */
  margin: 20px 40px;
  font-size: 30px;
  /* border: 2px solid red; */
  color: hsla(0, 4%, 9%, 0.901);
  font-weight: 700;
  font-size: bolder;
}
.button {
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 30px 40px;
  font-size: 40px;
  border: 2px solid red;
  line-height: 40px;
}

.btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  border: 2px solid blue;
  text-align: center;
}
