* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.heading {
  text-align: center;
  margin-top: 90px;
  font-weight: 900;
  font-size: 30px;
  font-size: bolder;
}

.para {
  /* text-align: center; */
  margin: 20px 40px;
  font-size: 30px;
  /* border: 2px solid red; */
  color: hsla(0, 4%, 9%, 0.901);
  font-weight: 700;
  font-size: bolder;
}

.input_container {
  /* border: 1px solid blue; */
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.input_container > input {
  width: 700px;
  height: 80px;
  border-radius: 40px 50px;
  padding-left: 20px;
  margin-top: 20px;
  font-size: 18px;
  color: rgb(108, 103, 104);
}

.btn_container {
  /* border: 1px solid red; */
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  cursor: pointer;
}

.btn {
  padding: 10px 30px;
  color: black;
  border: none;
  border-radius: 10px 12px;
  border: 0.5px solid black;
}

.heading2 {
  text-align: center;
  margin-bottom: 60px;
  margin-top: 70px;
}

.flex_container {
  display: flex;
  justify-content: center;
  /* border: 1px solid blue; */
  gap: 30px;
  font-size: bolder;
  width: fit-content;
  padding: 20px 20px;
  text-overflow: none;
}

.flex_container > .Title {
  box-shadow: 30px 28px;
}

.Title > .text_btn_container {
  display: flex;
  /* border: 1px solid red; */
  justify-content: space-between;
  /* align-items: center; */
}

.Title > .time_period {
  /* border: 1px solid black */
  display: flex;
  justify-content: space-between;
  font-size: 18px;
  font-weight: 300;
}

.Title > .start {
  color: rgb(45, 167, 195);
  font-size: 13px;
  margin-left: 10px;
}

.Title > .text_btn_container > .BTTN {
  border: 1px solid red;
  padding: 15px 20px;
  border-radius: 6px 7px;
  color: rgb(237, 3, 49);
  font-size: 15px;
  cursor: pointer;
}

.flex_para_container > .list {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 40px 0;
  font-size: 20px;
}

.flex_para_container > .ul > .li {
  text-transform: none;
  margin: 20px 0;
  padding: 40px 0;
  gap: 20px;
  border: 2px solid red;
}
